<%- include('../partials/header') %>
<div class="row">
    <div class="col-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Search Hotel" aria-label="Username"
                aria-describedby="basic-addon1" id="searchInput" onkeyup="searchHotel()">
        </div>
    </div>
 </div>
 <h1>All listed hotels here</h1> 

<%- include('../partials/footer') %>