<%- include('./partials/header.ejs') %>
<div>
    <div class="background1">
    <header class="grid1">
      <h1 class="mt-5 opacity-50 text-black">StaySense</h1>
    </header>
    </div>
    <main class="grid1">
      <div class="welcome1">
        <hr><hr>
        <h1 class="fw-bold">Welcome to StaySense - Your Ultimate Hotel Booking Destination!</h1>
        <hr><hr>
        <p>At StaySense, we understand that finding the perfect hotel for your next getaway is more than just booking a room. It's about creating unforgettable experiences and memories that will last a lifetime. That's why we strive to provide you with the best hotel booking service possible, making your travel dreams a reality.</p>
        <p>Listing your hotel with StaySense opens up a world of opportunities to showcase your property to a global audience of travelers. With our easy listing process, flexibility and control, targeted audience, competitive commission rates, dedicated customer support, and partner benefits, you can maximize your hotel's exposure and boost your bookings. Join StaySense today and take your hotel's visibility to new heights!</p> 
    </div>
    </main>
<%- include('./partials/footer.ejs') %>