<%- include('../partials/header') %>
<section class="Form m-3 p-3">
    <div class="container">
        <div class="row m-5 p-5 justify-content-center">
            <div class="col-6">
                <h1 class="font-weight-bold py-3">StaySense</h1>
                <h4>Register a new account</h4>
                <form class="needs-validation" action="/register" method="post" novalidate>
                    <div class="form-floating mb-4">
                        <input name="name" type="text" class="form-control" id="name" placeholder="name" required>
                        <label for="name">Name</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please enter a name.
                      </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input name="username" type="text" class="form-control" id="username" placeholder="username" required>
                        <label for="username">Email</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please choose a valid email.
                      </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input name="phoneNumber" type="number" class="form-control" id="phoneNumber" placeholder="phoneNumber" required>
                        <label for="phoneNumber">Mobile Number</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please enter a valid mobile Number.
                      </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input name="password" type="password" class="form-control" id="password" placeholder="password" required>
                        <label for="password">Password</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                          Please enter a password.
                      </div>
                    </div>
                      <div class="form-floating mb-4">
                        <button type="submit" class="btn1" value="register">Register</button>
                     </div>
                    <a href="#"> Forgot Password</a>
                    <p>Already have an account ? <a href="/login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/public/scripts/form-validation.js"></script>
<%- include('../partials/footer') %>